APP_NAME=sharecapsules
LARAVEL_APP_PORT=3003
VITE_PORT=5174
MYSQL_PORT=3308
REDIS_PORT=6380
MAILPIT_SMTP_PORT=1026
MAILPIT_WEB_PORT=8026

PHP_UPLOAD_MAX_FILESIZE=32M
PHP_POST_MAX_SIZE=32M
PHP_MEMORY_LIMIT=512M

MYSQL_ROOT_PASSWORD=dev_root_password_change_me
MYSQL_DATABASE=sharecapsules_dev
MYSQL_TEST_DATABASE=sharecapsules_test
MYSQL_USER=sharecapsules_app
MYSQL_PASSWORD=dev_app_password_change_me
MYSQL_DATA_DIR=./data/mysql

REDIS_DATA_DIR=./data/redis
